# dependencies
package-lock.json
node_modules/

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# editor
.vscode/
.idea/
.#*
*~

# training data (paid content, not for commit)
training-*.txt
